body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.character-list div {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.character-list div:hover {
  transform: scale(1.05);
}

.character-list img {
  width: 100%;
  border-radius: 10px;
}

.character-detail {
  text-align: left;
  margin-top: 20px;
}

.character-detail h2 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.character-detail ul {
  list-style-type: none;
  padding: 0;
}

.character-detail ul li {
  background-color: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
